In [2]:
import pandas as pd

In [3]:
df = pd.read_table(r"Index")

In [4]:
df.head()

                     Index of iris
0       02 Dec 1996      105 Index
1   08 Mar 1993     4551 iris.data
2  30 May 1989     2604 iris.names

In [9]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
df = pd.read_table(r"iris.data" , names = names , sep = ',')

In [10]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
df = pd.read_table(r'bezdekIris.data')

In [12]:
df.head()

   5.1,3.5,1.4,0.2,Iris-setosa
0  4.9,3.0,1.4,0.2,Iris-setosa
1  4.7,3.2,1.3,0.2,Iris-setosa
2  4.6,3.1,1.5,0.2,Iris-setosa
3  5.0,3.6,1.4,0.2,Iris-setosa
4  5.4,3.9,1.7,0.4,Iris-setosa